[Unit]
Description="Periodic check of restic backups"

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=default.target
