[Unit]
Description="Periodic clean up of old restic backups"

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=default.target
